@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind pages;
@tailwind utilities;

:root{
    font-family: "Roboto Slab", sans-serif;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track{
    background-color: rgb(241, 227, 135);
}

html::-webkit-scrollbar-thumb{
    background-color: rgb(68, 59, 0);
    border-radius: 20rem;
}